Repository PanchoBubble/fanvue-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --, sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

.lintstagedrc.json:

{
  "frontend/src/**/*.{ts,tsx}": [
    "sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js \"$@\"' --",
    "sh -c 'cd frontend && node_modules/.bin/prettier --write \"$@\"' --"
  ],
  "backend/src/**/*.ts": [
    "sh -c 'cd backend && node_modules/.bin/prettier --write \"$@\"' --"
  ]
}

Add .env patterns to .gitignore
  .gitignore
Due: none

caddy upgrades
  .env.example
  .github/workflows/deploy.yml
  backend/src/app.ts
  backend/src/middleware/cors.ts
  backend/src/seed/seedData.ts
  docker-compose.prod.yml
  docs/CICD.md
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/auth/AuthPage.tsx
  frontend/src/components/chat/ChatLayout.tsx
  frontend/src/components/chat/MessagePanel.tsx
  frontend/src/hooks/useThreadStream.ts
  frontend/src/hooks/useThreadsStream.ts
  frontend/src/lib/api.ts
  frontend/src/lib/auth.tsx
  frontend/src/lib/authStore.ts
  frontend/src/routes/__root.tsx
  frontend/src/routes/_authenticated.tsx
  frontend/src/routes/auth.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --, sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

caddy update domain
  Caddyfile
Due: none

adds options
  Caddyfile
  backend/src/middleware/cors.ts
Due: sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

fix build
  docker-compose.prod.yml
Due: none

fix build
  frontend/src/components/chat/MessageInput.tsx
  frontend/src/components/chat/MessagePanel.tsx
  frontend/src/hooks/useMessages.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

fix dvh
  frontend/src/app.css
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/auth/AuthPage.tsx
  frontend/src/components/chat/ChatLayout.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

submit fixes
  frontend/src/components/auth/AuthPage.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

fix auth error and adds readme
  README.md
  frontend/src/components/auth/AuthPage.tsx
  frontend/src/lib/api.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

fix auth displays error
  frontend/src/lib/api.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

adds hide password
  frontend/src/components/auth/AuthPage.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

message number
  .perles/config.yaml
  backend/src/config/database.ts
  backend/src/entities/Message.ts
  backend/src/migrations/1700000000003-AddMessageNumber.ts
  backend/src/routes/messages.ts
  backend/src/seed/seedData.ts
  backend/src/services/MessageService.ts
  frontend/src/app.css
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/MessagePanel.tsx
  frontend/src/components/chat/ThreadList.tsx
  frontend/src/hooks/useThreads.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/types/api.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --, sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

Decisions
  DECISIONS.md
Due: none

Decisions md cleanups
  DECISIONS.md
Due: none

docker fixes
  DECISIONS.md
  docker-compose.prod.yml
Due: none

fix caddy
  docker-compose.prod.yml
Due: none

notification and msj number cleanup
  backend/src/routes/messages.ts
  backend/src/services/SSEService.ts
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/ThreadList.tsx
  frontend/src/types/api.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --, sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

avatar
  frontend/src/components/chat/MessagePanel.tsx
  frontend/src/components/chat/ThreadList.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

Notification indicator
  DECISIONS.md
  backend/src/app.ts
  backend/src/routes/users.ts
  backend/src/services/PreferenceService.ts
  docs/ARCHITECTURE-FE.md
  frontend/src/components/chat/ChatLayout.tsx
  frontend/src/components/chat/NotificationModal.tsx
  frontend/src/components/chat/ThreadList.tsx
  frontend/src/hooks/useMessages.ts
  frontend/src/hooks/useThreads.ts
  frontend/src/hooks/useThreadsStream.ts
  frontend/src/lib/notificationStore.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --, sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

Notification indicator fix build
  .lintstagedrc.json
  frontend/src/hooks/useThreadsStream.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

Notification fixes
  backend/src/app.ts
  backend/src/routes/users.ts
  backend/src/services/PreferenceService.ts
  frontend/src/components/chat/ChatLayout.tsx
  frontend/src/components/chat/NotificationModal.tsx
  frontend/src/components/chat/ThreadList.tsx
  frontend/src/hooks/useThreadsStream.ts
  frontend/src/lib/notificationStore.ts
  frontend/src/lib/unreadStore.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --, sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

overflow
  frontend/src/components/chat/MessageBubble.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

dont scroll on new message
  frontend/src/components/chat/MessagePanel.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

chevron pointer
  frontend/src/components/chat/MessagePanel.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

scroll adjustmentes
  DECISIONS.md
  frontend/src/components/chat/MessagePanel.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

scroll bottom fix
  DECISIONS.md
  frontend/src/components/chat/MessagePanel.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

increases scroll offset
  frontend/src/components/chat/MessagePanel.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

Decision tweak on offset
  DECISIONS.md
Due: none

Thread UI simplification
  frontend/src/components/chat/ThreadList.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

Race condition fix + reduced roundtrips
  backend/src/middleware/auth.ts
  backend/src/routes/messages.ts
  backend/src/services/AuthService.ts
  backend/src/services/MessageService.ts
Due: sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

reactions and podman
  .github/workflows/deploy.yml
  backend/src/app.ts
  backend/src/config/database.ts
  backend/src/entities/Reaction.ts
  backend/src/migrations/1700000000004-AddReactions.ts
  backend/src/routes/messages.ts
  backend/src/routes/reactions.ts
  backend/src/services/ReactionService.ts
  backend/src/services/SSEService.ts
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/hooks/useReactions.ts
  frontend/src/hooks/useThreadStream.ts
  frontend/src/types/api.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --, sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

removes counter and adjust thread list
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/ThreadList.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

adds
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/MessageInput.tsx
  frontend/src/components/chat/ThreadList.tsx
  frontend/src/hooks/useMessages.ts
  frontend/src/types/api.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

reactions fix
  frontend/src/components/chat/MessageBubble.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

reactions position cta
  frontend/src/components/chat/MessageBubble.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

presence
  backend/src/app.ts
  backend/src/routes/presence.ts
  backend/src/services/PresenceService.ts
  frontend/src/components/chat/ChatLayout.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/OnlineIndicator.tsx
  frontend/src/hooks/usePresence.ts
  frontend/src/lib/queryKeys.ts
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --, sh -c 'cd backend && node_modules/.bin/prettier --write "$@"' --

zindex
  frontend/src/components/chat/MessageBubble.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

reaction
  frontend/src/components/chat/MessageBubble.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

fixes reactions position
  frontend/src/components/chat/MessageBubble.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --

adjusts reaction hover
  frontend/src/components/chat/MessageBubble.tsx
Due: sh -c 'cd frontend && node_modules/.bin/eslint --fix --config eslint.config.js "$@"' --, sh -c 'cd frontend && node_modules/.bin/prettier --write "$@"' --
